@tailwind base;
@tailwind components;
@tailwind utilities;


/* #idHead input:focus-visible{
    border: 1px solid white !important;
} */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

#target.V2{
    font-family: 'Quicksand', sans-serif !important;
}

body {
    background-color: rgb(255, 255, 255);
    max-width: 100vw !important;
    overflow-x: hidden !important;
}





@media print {
    .offPrint {
     display:none;
   }
}